<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lhy.lhylibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.ShowPhotoActivity"
            android:theme="@style/Transparent" />
    </application>

</manifest>
